<div class="row">
  <div class="row">
    <div class="page-header">
      <h1>Hakutulokset</h1>
    </div>
    <div class="span4">
      <%= render 'layouts/search' %>
    </div>
    <div class="span8">
      <% unless @observations.nil? %>
        <%= will_paginate @observations %>
        <ul class="unstyled">
          <%= render @observations %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
