<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "VesilintuOhtu", "/", :class => 'brand' %>
    
      <ul class="nav nav-tabs">
        <li><%= link_to "Etusivu", "/" %></li>
        <li><%= link_to "Haku", observations_search_path %></li>
      </ul>
    </div>
  </div>
</div>
